*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: bisqu
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    display: flex;
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color: black;
    margin: 0px 20px;
    font-size: 20px;
    font-family: sans-serif;
    
}

.logo img{
    height: 100px;
    width: 100px;
}

.container{
    /* min-width: 100vw; */
    padding: 0px 40px;
}

.content button{
    padding: 10px 20px;
    background-color: bisque;
    border: 1px solid rgb(219, 124, 7);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all ease 400ms;
}
.content button:hover{
    background-color: rgb(182, 22, 22);
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
    margin-bottom: 100px;
    background-color: rgb(39, 38, 38);

}

.hero-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    padding: 20px;
    margin-top: 50px;
}

.hero img{
    width: 430px;
    height: 430px;
    rotate: 30deg;
    background: none;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

.hero-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.hero-title h1{
    font-size: 100px;
    color: rgb(182, 22, 22);
    font-weight: 700;
}

.hero-title p{
    font-size: 20px;
    color: rgb(182, 22, 22);
}

.hero-title button{
    padding: 10px 20px;
    background-color: bisque;
    border: 1px solid rgb(219, 124, 7);
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all ease 400ms;
    margin-top: 20px;
    
}

.hero-title button:hover{
    background-color: rgb(182, 22, 22);
}

.Service{
    font-weight: 700;
    font-size: 35px;
    color: darkred;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0px;
}
.product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    
}

.prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px ;
    border: none;
    border-radius: 5px;
    width: 220px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    transition: all ease 400ms;
    margin: 10px;
    background-color: whitesmoke;
}

.prod:hover{
    transform: scale(1.030);
}

.prod img{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    margin: 5px 0px;
    background: none;
}

.prod h1 {
    font-size: 22px;
    color: rgb(182, 22, 22);
    font-weight: 700;
    text-transform: uppercase;
    background: none;

  }
  
  .prod p {
    font-size: 15px;
    color: rgb(182, 22, 22);
    font-weight: 500;
    margin: 10px 0px;
    background: none;

  }
  
  .prod button {
    width: 100%;
    padding: 10px 20px;
    background-color: bisque;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all ease 400ms;
    
  }
  
  .prod button:hover {
    background-color: rgb(182, 22, 22);
    color: white;
  }